<footer class="footer ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/home"><img src="assets/footerlogo.png" alt="" class="img"></a>
          <p>تحریک لبیک پاکستان کا منشور </p>

          <span class="text">اسلام پاکستان اور عوام</span>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/contactus">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            Address: <b>Korangi Karachi </b> <br>
            Phone: <a href="tel:+03462695435">0346 2695435</a><br>
            Phone: <a href="tel:+03171189113">0317 1189113</a><br>
            Phone: <a href="tel:+03222123145">0322 2123145</a><br>
            Email: <a href="mailto:azamrehman426@gmail.com">azamrehman426@gmail.com</a>
          </p>
        </div>
        
        <div class="col-md-4">
          <h5>Email</h5>
          <p>
            Address: <b>Korangi Karachi </b> <br>
            Email: <a href="mailto:azamrehman426@gmail.com">azamrehman426@gmail.com</a>
            Email: <a href="mailto:azamrehman426@gmail.com">azamrehman426@gmail.com</a>
            Email: <a href="mailto:azamrehman426@gmail.com">azamrehman426@gmail.com</a>
            Email: <a href="mailto:azamrehman426@gmail.com">azamrehman426@gmail.com</a>
          </p>
        </div>
        
      </div>
      <div class="text-center mt-4">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </footer>
  