.container {
    max-width: 1200px; /* Maximum width for large screens */
    margin: 0 auto; /* Center container */
}

.AboutUs {
    color: lightgreen;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.AboutUs::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: orange;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
    max-width: 100%; /* Ensures the underline is limited to the text width */
}

.para {
    font-weight: bold;
    font-size: 14px;
    color: black;
    line-height: 1.6; /* Improves readability */
    text-align: justify; /* Justify the paragraph text */
}

.head {
    margin-top: 10px;
    font-size: 16px; /* Slightly increase font size */
}

.videos video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .videos video {
    display: flex;
    align-items: center; 
    justify-content: center;  
    height: 250px;  
  }
  
  @media (max-width: 768px) {
    .videos {
      flex-direction: column;
    }
  }
  

.text-center .col-lg-4 {
    margin-bottom: 20px;
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) {
    .para {
        font-size: 12px;
    }
    .head {
        font-size: 14px;
    }
    .text-center .col-lg-4 {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .para {
        font-size: 12px;
    }
    .head {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .para {
        font-size: 12px;
        text-align: center;
    }
    .head {
        font-size: 13px;
        text-align: center;
    }
    .text-center .col-lg-4 {
        margin-bottom: 10px;
    }
    .AboutUs {
        font-size: 18px;
    }
}
