<div class="container">

  <!-- Contact Form -->
  <div class="row">
    <div class="col-12">
      <section id="contact-us" class="container my-5">
        <h2 class="text-center mb-4">Contact Us</h2>
        <div class="row">
          <div class="col-md-10">
            <h4>Get in Touch</h4>
            <p>If you have any questions, please feel free to contact us using the form below.</p>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="name" class="form-label ms-3">Name
                  <span class="fw-bold text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="name" formControlName="name" required>
              </div>
              <div class="mb-3">
                <label for="district" class="form-label ms-3">District Level
                  <span class="fw-bold text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="district" formControlName="district" required>
              </div>
              <div class="mb-3">
                <label for="ps" class="form-label ms-3">PS
                  <span class="fw-bold text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="ps" formControlName="ps" required>
              </div>
              <div class="mb-3">
                <label for="uc" class="form-label ms-3">UC
                  <span class="fw-bold text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="uc" formControlName="uc" required>
              </div>
              <div class="mb-3">
                <label for="na" class="form-label ms-3">NA
                  <span class="fw-bold text-danger">*</span>
                </label>
                <input type="email" class="form-control" id="na" formControlName="na" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label ms-3">Message
                  <span class="fw-bold text-danger">*</span>
                </label>
                <textarea class="form-control" id="message" formControlName="message" rows="4" required></textarea>
              </div>
              <!-- <button type="submit" class="btn btn-primary" (click)="onSubmit()">Send Message</button> -->
              <button  class="btn btn-outline-success" [disabled]="isSubmitting" (click)="onSubmit()">Send Message</button>

            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Contact Form -->
</div>
